<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bruna Rosa</title>
</head>
<body>
  <div class="imgBackground">
    <div class="header">
      <div class="container"></div>
    </div>

    <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <div class="about">
          <h1>Bruna Rosa</h1>
            <h3>Ruby on Rails Developer!</h3>
          </div>
          <div class="myPhoto"></div>
        </div>
       </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="col">
          <img src="https://content.codecademy.com/projects/broadway/design.svg">
          <h2>Social Network</h2>
          <p>Linkedin</p>
          <a class="btn-default" href="https://www.linkedin.com/in/bruna-rosa-dev/">Click here!</a>
        </div>
        <div class="col">
          <img src="https://content.codecademy.com/projects/broadway/develop.svg">
          <h2>Portfolio</h2>
          <p>GitHub</p>
          <a class="btn-default" href="https://github.com/BrunaRosa">Click here!</a>
        </div>
        <div class="col">
          <img src="https://content.codecademy.com/projects/broadway/deploy.svg">
          <h2>Contact me</h2>
          <p>Send me an email</p>
          <a class="btn-default" href="mailto:bruninha20_468@hotmail.com">Click here!</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</body>

<footer>
    <div class="footer">
      <div class="container">
        <p>&copy; São Paulo 2021</p>
      </div>
    </div>
</footer>